<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{%url 'car_renter_profile' user.id%}">Add profile</a>
    <a href="{%url 'car_renter_profile_view' %}">View profile</a>
    <a href="{%url 'rent_car_create'%}">Add Car</a>
    <a href="{%url 'rentcar_list'%}">view car</a>
    <a href="{%url 'car_owner_reservations'%}">View Reservation</a>
    <a href="{%url 'change_password'%}">Change Password</a>
    <a href="{%url 'logout' %}">logout</a>
</body>
</html>