<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{%url 'useradd-profile' user.id%}">Add profile</a>
    <a href="{%url 'userview-profile' user.id%}">view profile</a>
    <a href="{%url 'approved_mechanics' %}">List of approved mechanics</a>
    <a href="{%url 'user_requests'%}">View req</a>
    <a href="{%url 'available_cars'%}">Rent car</a>
    <a href="{%url 'user_reservation_list'%}">Reservation list</a>
    <a href="{%url 'change_password'%}">Change Password</a>
    <a href="{%url 'logout' %}">Logout</a>
    
    <div>
        <form class="d-flex" role="search" method="GET" action="{% url 'mechanic_search' %}">
            <input class="form-control me-2" name="mechanic" type="search" placeholder="Search Category" aria-label="Search">
            <button class="btn btn-dark" type="submit">Search</button>
        </form>
    </div>
</body>
</html>